export(init_conditions)
export(init_simulation)
export(init_plants)
export(init_herbivore)
export(reset_daily_variables)
export(calc_gut_capacity)
export(calc_bite_size)
export(calc_handling_time)
export(calc_foraging_velocity)
export(calc_water_requirement)
export(calc_foraging_traits)
export(hourly_digestion_step)
export(update_gut_content)
export(check_daily_water_balance)
export(calc_daily_energy_balance)
export(select_randomly)
export(calc_toroidal_distance)
export(get_plants_within_range)
export(calc_plant_tastiness)
export(pick_a_plant)
export(herbivore_move)
export(herbivore_step)
export(run_daily_herbivore_simulation)